@import "tailwindcss";

@media print {
  body {
    background-color: #ffffff !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  header, nav, .no-print {
    display: none !important;
  }
  #printable-receipt {
    box-shadow: none !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 auto !important;
    width: 100% !important;
  }
}
